.app {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.title { 
  color: white;
}

.redo-item,
.todo-item {
  text-align: left;
}

.redo-item > div > button {
  display: none;
}

.redo-item:hover > div > button {
  display: block;
}

.todo-bar {
  margin-bottom: 1em;
}

.done-desc,
.todo-desc {
  line-height: 2.5;
  margin-bottom: 0;
  margin-right: 1em;
  overflow-wrap: anywhere;
  flex-grow: 1;
  cursor: pointer;
}

.done-desc {
  color: darkgray;
}

.todo-done-button {
  flex-shrink: 1;
}

.todo-done-button:disabled {
  opacity: 1;
  color: gray;
  background-color: #282c34;
  border-color: gray;
}

.due-date {
  font-size: small;
  color: darkgray;
}

.done-label {
  margin-top: 1em;
  color: white;
  font-family: 'Kaushan';
}