@font-face {
  font-family: 'Fira';
  src: url('../fonts/FiraSans-Thin.otf');
}
  
@font-face {
  font-family: 'Kaushan';
  src: url('../fonts/KaushanScript-Regular.otf');
}
  
.thin {
  font-weight: thin;
}

.fira {
  font-family: 'Fira';
}

.kaushan {
  font-family: 'Kaushan';
}